[Unit]
Description=Deny hosts by iptables
After=network.target syslog.service

[Service]
Type=forking
PIDFile=/var/run/deny-hosts.pid
ExecStart=/root/bin/deny-hosts/rc.deny-hosts-iptables start
ExecStop=/root/bin/deny-hosts/rc.deny-hosts-iptables stop
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target